extends layouts/mainlayout.pug

block styles 
    <link rel="stylesheet" href="/css/product.css">

block content
    main
        if prods.length > 0
            .grid
                each product in prods
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        div.card__image
                            img(src="https://gumlet.assettype.com/swarajya/2022-11/762e1406-92c7-40ef-bff0-91d92c886e0c/FF45E77D_09EB_46D0_B1FB_B8357A4E403B.png", alt="A Book")
                        .card__content
                            h2.product__price $19.99
                            p.product__description A very interesting book about so many even more interesting things!
                        .card__actions
                            button.btn Add to Cart
        else
            h1 No Products