
    .blink{
        display: flexbox;
        padding-left: 40%;
    }

    .SaleLive{
        display:flex;
        font-size: 3em;
        /* font-family: serif; */
        color:#f10505;
        text-align: center;
        animation: animate 2s linear infinite;
    }
    @keyframes animate{
   0%{
     opacity: 0;
   }
   50%{
     opacity: 0.7;
   }
   100%{
     opacity: 0;
   }
 }
